<div class="pollPreview">
  <p style='color:white'>{{pollMessage}}</p>
  <table class="pollTable">
    <thead>
      <th>title</th>
      <th>votes</th>
      <th>chart</th>
    </thead>
    <tbody class="tableBody">
      {{{tableBody}}}
    </tbody>
  </table>
</div>