<p align="center">
  Redirecting...
  <br/> If this window doesn't close after 5 seconds, manually close it and refresh main page.
  <br/>
  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" height="60%" />
</p>
<script src="/js/authResp.js" defer></script>