<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf8" />
  <meta name="viewport" content="width = device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/main.css" />
  <title>Index</title>
  {{{extraHead}}}
</head>

<body>
  <div class="topNav">
    <div class="right">
      <a href='/login' target="_blank" id='popUp'>
        <div class="navItem">
          Create Poll
          <div class="hoverSelection"></div>
        </div>
      </a>
      <a href="/login" target="_blank" id='popUp'>
        <div class="navItem">
          Log in
          <div class="hoverSelection"></div>
        </div>
      </a>
    </div>
  </div>

  {{{extraScripts}}}

</body>

</html>