<div class="indexWrapper">
  <div class="mainPageWrapper">
  </div>

  <div class="indexRibbon">
    Create, vote and share your polls around the interwebz
  </div>
  

</div>


<script src="/js/main_bundle.js" defer></script>