<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../css/main.css" />


</head>

<body>
  <p></p>
  <canvas id="poll" width="300" height="300" data-id={{id}}>
    <p>your browser doesn't support canvas</p>
  </canvas>

  <script src="/js/poll.js" defer></script>
</body>


</html>