<div class="indexWrapper">
  <h2>{{pollTitle}}</h2>
  <div class="mainPageWrapper" style="align-items: center; width: 50%; justify-content: space-around">
    <div class="chart"></div>
    <canvas id="poll" width="300" height="300" data-id={{id}}>
      <p>your browser doesn't support canvas</p>
    </canvas>
  </div>
  <script src="/js/poll.js" defer></script>
</div>